{% extends 'base.html' %}

<title>{% block title %}k8s学习{% endblock %}</title>


{% block content %}
<section class="content">
    <div class=row>
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">资产总表<small>(不含软件)</small></h3>
                </div>
                <div class="box-body">
                    <table id="asset_table" class="table table-boredred table-striped">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>资产类型</th>
                                <th>子类型</th>
                                <th>资产名称</th>
                                <th>SN</th>
                                <th>业务线</th>
                                <th>状态</th>
                                <th>机房</th>
                                <th>更新日期</th>
                                <th>标签</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for x,y,z in nodes %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>

                                </tr>
                                {% empty %}
                                <tr> 没有数据 </tr>
                            {% endfor %}
                        </tbody>

                        <tfoot>
                        <tr>
                            <th>序号</th>
                            <th>资产类型</th>
                            <th>子类型</th>
                            <th>资产名称</th>
                            <th>SN</th>
                            <th>业务线</th>
                            <th>状态</th>
                            <th>机房</th>
                            <th>更新日期</th>
                            <th>标签</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

</section>
{% endblock %}